.img{
    background: url('Slily.jpg') no-repeat ;
    height: 100vH;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}
.img::before{
    content: '';
    position:absolute;
    height: 100%;
    width: auto;
    background: rgba(0,0,0);
} 
.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 200px;
}
.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}