@import 'Nav.css';
@import 'Imges.css';
@import 'Bottons.css';
@import 'Text.css';
@import 'containers.css';
@import 'footer.css';
@import url("https://fonts.googleapis.com/css?family=Poppins");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }