
.center{
    position: absolute;
    top: 52%;
    left: 50%;
    width: 100%;
    transform: translate(-50% , -50%);
    /* background: red; */
    padding: 0 20px;
    text-align: center;
}
.center .title{
    color: #fff;
    font-size: 55px;
    font-weight: 600;
}
.center .Stitle{
    color: #fff;
    font-size: 55px;
    font-weight: 600;
}
